charset-normalizer~=2.1.1
contourpy~=1.0.7
cycler~=0.11.0
filelock~=3.9.0
fonttools~=4.39.2
idna~=3.4
imageio~=2.26.0
install~=1.3.5
Jinja2~=3.1.2
joblib~=1.2.0
kiwisolver~=1.4.4
kornia~=0.6.10
lazy_loader~=0.1
MarkupSafe~=2.1.2
matplotlib~=3.7.1
mpmath~=1.2.1
netron~=6.7.6
networkx~=3.0
numpy~=1.24.1
opencv-contrib-python~=4.7.0.72
Pillow~=9.3.0
pyparsing~=3.0.9
PyWavelets~=1.4.1
pywin32~=305.1
requests~=2.28.1
scikit-image~=0.20.0
scikit-learn~=1.2.2
scipy~=1.10.1
sympy~=1.11.1
threadpoolctl~=3.1.0
tifffile~=2023.3.15
# torch~=2.0.0+cu117
# torchaudio~=2.0.1+cu117
# torchvision~=0.15.1+cu117
tqdm~=4.65.0
typing_extensions~=4.4.0
urllib3~=1.26.13
wincertstore~=0.2
